.name{
    background-color: #000000;
    width: 5rem;
    height: 60rem;
    top:80px;
    position: fixed;

}
.lol{
    list-style: none;
    color: #61dafb;
}
.add{
    display: none;
}
.c-add{
    color:blue;
    background-color: #61dafb;
    left: 5rem;
    position: relative;
}