.browse-games{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:5rem;
    height: 400px;
    background: #201d27 url("/public/images/explore/bookshelf.png");


}

.genres{

    padding-top: 30px;
    display: grid;
    list-style: none;
    grid-template-columns: repeat(4,auto);
    column-gap: 30px;
    row-gap: 50px;
    background-color: transparent;
}

.genres li{

    padding-left: 3px;
    line-height: 90px;
    text-align: center ;
    height: 130px;
    width: 130px;
    flex-direction: column;
    cursor:pointer;
    background-color:transparent;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'VT323', monospace;
    font-size:15px;
    color: white;
    transition: all .2s ease-in-out;
}



.genres li:hover{
        transform: scale(1.1)
 }


.hashtag{
    margin-top: 2rem;
    margin-left:7rem;
    background-color:palegoldenrod;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    border: none;
    border-radius: 3px;
}

.games{
    color:white;
    text-align: center;
    background-color: #121015;
    height: 15rem;
    width: 20rem;
    border-radius: 20px;


}
.game-list{

    margin-left:7rem;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 10px;
    list-style: none;
    padding: 20px 20px;

}